<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 23.2\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
    <add key="DevExpress" value="https://nuget.devexpress.com/xMeEoRMDVv3mqkIPWAEYP8b8O3QYo3fQHUrFv4UVN9SK1vmhJu/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> </packageSources>
</configuration>