@page "/hakkimizda"
@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}
 
@functions {
    public class IndexModel : PageModel
    {
     

        public void OnGet(string lng = "tr")
        {
    
        }
    }
}
@section Styles {




}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">

</div>
<!-- Banner End -->
<!-- Services Details -->
<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">
                    <div class="m-b40">
                        <h3>Hikayemiz</h3>
                    
                        <p >Odağımızda &ldquo;yeniliğin, d&ouml;n&uuml;ş&uuml;m&uuml;n ve hızın&rdquo; olduğu, farklı bir&ccedil;ok teknoloji ve hizmeti cloud servislerle &uuml;reterek bir&ccedil;ok end&uuml;striye değer yaratma vizyonu ile kurulduk. </p>
                        <p >&Ouml;zellikle m&uuml;hendislik ve deneyimi harmanladığımız Finans sekt&ouml;r&uuml; i&ccedil;in &uuml;rettiğimiz &uuml;r&uuml;nlerimizle işletmeler i&ccedil;in bir değer zinciri oluşturuyoruz. Finansal hizmetler alanında m&uuml;hendislik ve deneyim g&uuml;c&uuml;yle değer yaratmaya odaklanan yenilik&ccedil;i bir şirketiz. </p>
                        <p >&Uuml;r&uuml;nlerimizdeki gelişimi tetikleyen en b&uuml;y&uuml;k unsur m&uuml;şterilerimizin ihtiya&ccedil;larını karşılama yer alıyor. Finans sekt&ouml;r&uuml;nden deneyimli danışman ekibimiz ve yazılım ekiplerimizle geleceği tasarlarken bug&uuml;n&uuml; kolaylaştıran teknolojileri de &uuml;retme heyecanı ile &ccedil;alışmalarımızı y&uuml;r&uuml;t&uuml;yoruz. </p>
                    </div>
          
                    <div class="m-b40 p-b40">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
 
}