@page

@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {

    <link href="~/assets/css/css/themify-icons.css" rel="stylesheet" />

    <link href="~/assets/css/css/style.css" rel="stylesheet" />
}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">
    <br />    <br />    <br />    <br />
</div>
<!-- Banner End -->
<!-- Services Details -->

<section>

    <div class="container">

        <div class="row d-flex">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100" style="background-image: url(assets/img/about/image_2.jpg);">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 py-5 pl-md-5">
                <div class="we-create-cap">
                    <div class="section-tittle">

                        <h2>Fincheckup</h2>
                        <div class="heading-divider"></div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tasks"></span></div>
                        <div class="text pl-4">

                            <p>
                                • Mevcut ve potansiyel müşterilerinizin finansal risklerini öngörebilir.
                            </p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Yeni Kredi Kabul süreçlerinizi hızlandırarak satış verimliliğini arttırabilir.</p>

                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Kredi kararlarını daha çabuk ve güvenilir olarak verebilir.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Doğru kredi limitleri belirleyerek tahsilat risklerini azaltabilir.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Zaman içerisinde potrföyde oluşan risklerin dağılımını görerek en riskli segmente odaklanabilir.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Risk raporlarınıza Online erişim ile doğru ve hızlı kredi kararları alabilir.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Müşterilerinizin Mevcut finansal risklerini öngörebilir , yalın olarak problem ve çözüme odaklanabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>

<section class="section section faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(assets/img/choose-us-1.png);"></div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(assets/img/choose-us-2.png);"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 py-5 pl-md-5">
                <div class="we-create-cap">
                    <div class="section-tittle">

                        <h2>Fincheckup & Controlling Manager</h2>
                        <div class="heading-divider"></div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tasks"></span></div>
                        <div class="text pl-4">

                            <p>
                                Finans Mühendisliği ile KOBİ ve Finans kurumlarının veriye dayalı kararlar almasını, operasyonlarını kolaylaştırmayı ve işletmelerin Finansal Tablo analiz süreçlerini dijital ortama taşıyarak hızlı çözüme ulaşmalarını sağlayabilmesi amacı ile tasarlanmıştır.
                            </p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p><span style="font-weight:bold">• Erken uyarı analiz raporları ile Finansal risklerinizi tespit ederek , hızlı çözüme ulaşmanıza destek olur. </span></p>

                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Nakit Yönetiminizde kısa ve uzun vadedeki  ihtiyacı analiz ederek  riskinizi gecikmeden , doğru plan ve doğru zamanda yönetebilmenizi sağlar..</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(assets/img/choose-us-1.png);"></div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(assets/img/choose-us-2.png);"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 py-5 pl-md-5">
                <div class="we-create-cap">
                    <div class="section-tittle">

                        <h2>Fincheckup CPM</h2>
                        <div class="heading-divider"></div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tasks"></span></div>
                        <div class="text pl-4">

                            <p>
                                • Yeni Müşteri Kabul süreçlerinizi hızlandırarak satış verimliliğini arttırabilir.
                            </p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p><span style="font-weight:bold">• Doğru kredi limitleri belirleyerek tahsilat risklerini azaltabilir.</span> </p>

                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Zaman içerisinde potrföyde oluşan risklerin dağılımını görerek en riskli segmente odaklanabilir.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>• Müşterilerinizin işletme sermayesi trend analizini güncel olarak takip edebilir . Riskinizi yönetebilirsiniz..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="container">

        <div class="row d-flex">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="about-wrap img w-100" style="background-image: url(assets/img/about/image_2.jpg);">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 py-5 pl-md-5">
                <div class="we-create-cap">
                    <div class="section-tittle">

                        <h2>Enkolaydenetim</h2>
                        <div class="heading-divider"></div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tasks"></span></div>
                        <div class="text pl-4">

                            <p>
                                4400+ Algoritma ile Muhasebe , Vergi ve İç Denetim kontrol prosesi dakikalar içinde tamamlanır ,Finansal raporlar oluşur ve aşağıdaki belirtilen detaylarda çözümler üretir
                            </p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>. Vergi Usul Kanununa göre uygunsuz oluşabilecek temel kontroller tamamlayarak riski minimize eder.</p>

                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>Maddi Denetim Tekniği ile Finansal raporlardaki dikkat çekici değişiklikleri analiz ederek süreçlerinizi yönetmekde destek olur.</p>
                        </div>
                    </div>
                    <div class="services-3 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-project"></span></div>
                        <div class="text pl-4">

                            <p>Biçimsel Usul denetim tekniği ile işletmedeki kayıt düzeninin belirlenen kurallara uygun biçimde tutulup tutulmadığı ve kayıt düzeninin unsurları arasında tutarlılık olup olmadığını karşılaştırılmalı olarak inceler.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>



<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">

                    <div class="m-b40">
                        <h3 style="font-weight:bold"></h3>


                    </div>
                    <div class="m-b40 p-b40">

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>



<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
    <script src="~/assets/css/css/custom.js"></script>
}