@page

@model IndexModel
@{
    ViewData["Title"] = "payment";
    Layout = "~/Pages/Shared/_Layoutqnb.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {
 
   <style>
       @@media only screen and (hover: none) and (pointer: coarse) {
           #mobidiv {
               padding-bottom: 25%;
           }
           #mobidiv1 {
               padding-top: 25%;
           }
       
       } 
   </style>

}
<section id="mobidiv">
    <!-- Slider -->
    <div class="banner-three bg-primary p-t100" style="background-image: url(images/background/bg5.png), url(images/background/bg6.png), var(--gradient-sec);">
        <div class="container banner-inner">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="banner-content text-white">
                        <h6 data-wow-delay="0.5s" data-wow-duration="3s" class="wow fadeInUp sub-title text-yellow" id="mobidiv1" style="">  Firmaların dijital dönüşümdeki ilk tercihi:   </h6>
                        <h1 data-wow-delay="1s" data-wow-duration="3s" class="wow fadeInUp m-b15">QNB Finansbank Dijital Köprü</h1>
                        <p data-wow-delay="1.5s" data-wow-duration="3s" class="wow fadeInUp m-b30">
                            QNB Finansbank Dijital Köprü ile hem bankacılık hem de
                            bankacılık dışı ihtiyaçlarınızı dijital olarak tek bir yerden
                            karşılayabilirsiniz. Siz işinizi büyütün, gerisini bize bırakın!
                        </p>
                        <p data-wow-delay="1.5s" data-wow-duration="3s" class="wow fadeInUp m-b30">
                            QNB Finansbank Dijital Köprü'nün Fincheckup tarafından sağlanan Finansal Durum Raporu müşterilerimize ücretsiz!
                        </p>

                        <a data-wow-delay="2s" data-wow-duration="3s" href="https://www.qnbfinansbank.com/kobi/dijitalkopru/dijital-kopru-cozumleri/dijital-kopru-yonetimsel-cozumleri/finansal-durum-raporu" class="wow fadeInUp btn gradient btn-primary">Detaylı Bilgi</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a data-wow-delay="2s" data-wow-duration="3s" href="https://www.qnbfinansbank.com/kobi/dijitalkopru/fincheckup" class="wow fadeInUp btn gradient btn-primary">Hemen Başvur</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-5" style="min-height: 475px;" >
                    <div class="dz-media" >
                        <img src="/img/ekran5.jpg" class="" style="padding-right:5%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
 
     

 

  
     

    <!-- Testimonials --> 
 

 

 

    <!-- Contact Form -->
    <section class="content-inner" style="background-image: url(images/background/bg6.jpg); background-size: cover; background-repeat: no-repeat; margin-top: 5%">
        <div class="container">
            <div class="row align-items-center">


 
                     <br />
                <h5>
                    Fincheckup nedir?
                </h5>        <br />
                             <p>
                                 FinCheckup ile kurumsal kredi risk yönetimi, nakit akışı ve finansal denetim süreçlerinize çözümler sağlıyoruz.   <br />
                                 Kurumun amaçlarını gerçekleştirmek üzere makul bir güvence sağlamak amacıyla potansiyel olay ve durumları belirlemek, değerlendirmek, yönetmek ve kontrol etmek süreçlerinde Teknoloji Tabanlı Denetim Teknikleri (Technology-based Audit Techniques) kullanarak ,Finans Mühendisliği ile KOBİ ve Finans kurumlarının veriye dayalı kararlar almasını, operasyonlarını kolaylaştırmayı ve müşteri deneyimlerini iyileştirme amaçlı geliştirilmiştir.
                             </p>
                <br />
                <p>
                    4400+ Algoritma ile Muhasebe , Vergi ve İç Denetim kontrol prosesi Finansal raporlar oluşur        <br />
                    Vergi Usul Kanununa göre temel kontroller        <br />
                    Maddi Denetim Tekniği ile Finansal raporlardaki Analizler        <br />
                    Biçimsel Usul denetim tekniği ile işletmedeki kayıt düzeninlerinin tutulması        <br />
                </p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>

 
<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{

}