@page "/gizlilik-sozlesmesi"
@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {




}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">

</div>
<!-- Banner End -->
<!-- Services Details -->
<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">
                    <div class="m-b40"> 
                        <h3>Gizlilik Sözleşmesi</h3> <br />
                        <p>İşbu Gizlilik Politikası (&ldquo;Politika&rdquo;), Nef Solution Yazilim Teknolojileri Ve Danişmanlik Hizmetleri Ticaret Ltd, Şti.&rsquo;nin (&ldquo;NEF&rdquo;) www.nefsolution.com, www. fincheckup.ai adreslerinde yer alan siteye (&ldquo;Site&rdquo;) kaydolan ve fincheckup Uygulaması&rsquo;nı (&ldquo;FinCheckup&rdquo;) kullanmak isteyen m&uuml;şteriler (&ldquo;M&uuml;şteri&rdquo;) ile bunların FinCheckup&rsquo;a erişim hakkı tanıdığı &ccedil;alışanlarının hizmetlerin kullanımı amacıyla NEF ile paylaştığı bilgi ve verilerin (&ldquo;İ&ccedil;erik&rdquo;) kullanımına ilişkin koşul ve şartları i&ccedil;ermektedir. Gizlilik Politikası, NEF&rsquo;in Kişisel Verilerin Korunması Politikası ile birlikte M&uuml;şteri ile akdedilen Lisans S&ouml;zleşmesi&rsquo;nin eki ve ayrılmaz bir par&ccedil;ası niteliğindedir.</p>
                        <p>FinCheckup&rsquo;a y&uuml;klenen İ&ccedil;erik &uuml;zerinde NEF&rsquo;in herhangi bir m&uuml;lkiyet hakkı yoktur. NEF, FinCheckup &uuml;zerinden kendisine elektronik ortamdan iletilen verileri defter i&ccedil;eriklerini, Lisans S&ouml;zleşmesi ile belirlenen ama&ccedil;lar ve kapsam dışında &uuml;&ccedil;&uuml;nc&uuml; kişilere a&ccedil;ıklamayacak ya da hi&ccedil;bir koşulda satmayacaktır.</p>
                        <p>Ancak NEF, aşağıdaki hallerde M&uuml;şteri&rsquo;nin ilettiği İ&ccedil;erik&rsquo;i işleyebilecek ve &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşabilecektir;</p>
                        <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Herhangi bir mahkeme kararı veya y&uuml;r&uuml;rl&uuml;kteki d&uuml;zenlemeler uyarınca g&uuml;ndeme gelen herhangi bir yasal gereksinim durumunda;</p>
                        <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>FinCheckup aracılığıyla sunulan hizmetler i&ccedil;in gerekli olduğu &ouml;l&ccedil;&uuml;de ya da y&uuml;r&uuml;rl&uuml;kteki veri koruma kanunlarına uymak amacıyla veya veri sahibinin izni doğrultusunda a&ccedil;ıklanması durumunda; veya</p>
                        <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Anonimleştirilmiş olmak kaydıyla, pazarlama, tanıtım veya reklam ama&ccedil;lı olarak &uuml;&ccedil;&uuml;nc&uuml; kişilere yapılacak bildirim veya duyurularda,</p>
                        <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>NEF&rsquo;in meşru menfaatlerini korumak i&ccedil;in zorunlu olması durumunda.</p>
                        <p>NEF kendisine iletilen kişisel verileri ve edefter i&ccedil;eriklerini sınırsız s&uuml;reyle &ouml;zel ve gizli tutmayı, herhangi bir kısmının kamuya a&ccedil;ık hale gelmesini veya yetkisiz kullanımını ya da &uuml;&ccedil;&uuml;nc&uuml; bir kişiye ifşasını &ouml;nlemek i&ccedil;in gerekli t&uuml;m tedbirleri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir. Lisans S&ouml;zleşmesi kapsamında veri işleyen sıfatıyla hareket etmekte olan NEF M&uuml;şteri tarafından iletilen kişisel verileri işlerken, kişisel verilerin g&uuml;venliğini, verilerin muhafazasını sağlamak, bu verilere hukuka aykırı olarak erişilmesini engellemek ve hukuka uygun işlenmesini sağlamak i&ccedil;in gerekli teknik ve idari tedbirleri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir.</p>
                        <p>M&uuml;şteri&rsquo;nin NEF&rsquo;e onay vermesi halinde, &ouml;deme işlemleri, fatura kesimi ve işlenmesi, banka entegrasyonu, M&uuml;şteri&rsquo;nin erişimine izin verdiği &uuml;&ccedil;&uuml;nc&uuml; kişi uygulamaları ve doğrudan pazarlama gibi ama&ccedil;larla M&uuml;şteri&rsquo;nin verdiği onay &ccedil;er&ccedil;evesinde NEF İ&ccedil;erik işleyebilir, saklayabilir. &nbsp;M&uuml;şteri iletişim bilgileri, M&uuml;şteri ile temas kurmak veya FinCheckup kullanıcılarının tecr&uuml;besini geliştirmek (hizmetlere ilişkin bakım ve destek, mevcut hizmetlerin geliştirilmesi, yeni hizmetler oluşturulması gibi) amacıyla kullanılabileceği gibi, &uuml;yeliklerin s&uuml;rd&uuml;r&uuml;lmesi i&ccedil;in gerekli faaliyetleri ger&ccedil;ekleştirmek amacıyla işlenebilecek, saklanabilecek ve &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarılabilecektir.</p>
                        <p>NEF; FinCheckup vasıtasıyla işlenen verileri, uygulamanın beğeni, kullanım alışkanlıkları ve ihtiya&ccedil;lara g&ouml;re değerlendirilmesi, FinCheckup geliştirilmesi ve sunulan hizmet kalitesinin artırılması amacıyla anonim hale getirerek kullanabilecektir. Aynı zamanda bunu donanım ve yazılım sağlayıcılar gibi diğer taraflarla da paylaşabilecektir.</p>
                        <p>Site ve FinCheckup &uuml;zerinden başka site ve uygulamalara link verilmesi m&uuml;mk&uuml;n olup, NEF linki verilen site ve uygulamaların gizlilik uygulamalarına y&ouml;nelik herhangi bir sorumluluk taşımamaktadır.</p>
                        <p>NEF, işbu Gizlilik Politikası h&uuml;k&uuml;mlerini dilediği zaman Site&rsquo;de yayımlamak suretiyle değiştirebilir. Şirket&rsquo;in değişiklik yaptığı Gizlilik Politikası h&uuml;k&uuml;mleri Site&rsquo;de yayınlandığı tarihte y&uuml;r&uuml;rl&uuml;k kazanır.</p>
                        <p><br></p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
 
}