@page "/kullanici-sozlesmesi"

@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {




}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">

</div>
<!-- Banner End -->
<!-- Services Details -->
<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">
                    <div class="m-b40">
                        <p>Kullanıcı S&ouml;zleşmesi</p>
                        <p>Madde 1 Kullanım Koşulları:</p>
                        <p>İşbu kullanım koşulları (&ldquo;Kullanım Koşulları&rdquo;), NEF Solution Danışmanlık Bilgisayar Hizmetleri Ltd, Şti (&ldquo;NEF&rdquo;) ile www.nefsolution.com, www.fincheckup.ai adreslerinde internet sitesine (&ldquo;Site&rdquo;) kullanıcı (&ldquo;Kullanıcı(lar)&rdquo;) olarak kaydolan kişi arasında akdedilmektedir. Kulanım Koşulları, Kullanıcı tarafından elektronik ortamda kabul&uuml; ile birlikte y&uuml;r&uuml;rl&uuml;ğe girer ve taraflarca Kullanım Koşulları&rsquo;nda belirtilen usuller doğrultusunda sona erdirilmediği s&uuml;rece y&uuml;r&uuml;rl&uuml;kte kalmaya devam edecektir.</p>
                        <p>Madde 2 Kullanım Koşulları&rsquo;nın Konusu ve Kapsamı:</p>
                        <p>İşbu S&ouml;z Kullanım Koşulları NEF&rsquo;in Kullanıcı&rsquo;nın &ccedil;eşitli formatlarda oluşturacağı edefter belgesinin &nbsp;dijital olarak uygulamaya y&uuml;klenmesi, saklanması ve istenildiğinde bu bilgiyle aranabilmesini sağlayan yazılım &ldquo;fincheckup&rdquo; Dijital Edefter denetim isimli bilgisayar programını (&ldquo;Uygulama&rdquo;) ve Kullanıcılar tarafından Uygulama&rsquo;ya y&uuml;klenen verilere ilişkin ilgili taraflara ilişkin koşul ve şartlar ile hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerinin belirlenmesi amacıyla akdedilmektedir.</p>
                        <p>Madde 3 Tanımlar</p>
                        <p>İşbu Kullanım Koşulları&rsquo;nda aşağıdaki ifadeler karşılarında belirtilen anlamları haizdir</p>
                        <p>&ldquo;A&ccedil;ık rıza&rdquo;, Kişisel Verilerin Korunması Kanunu kapsamında belirli bir konuya ilişkin, bilgilendirilmeye dayanan ve &ouml;zg&uuml;r iradeyle a&ccedil;ıklanan rızayı ifade eder.</p>
                        <p>&ldquo;Anonim hale getirme&rdquo;, Kişisel verilerin, başka verilerle eşleştirilerek dahi hi&ccedil;bir surette kimliği belirli veya belirlenebilir bir ger&ccedil;ek kişiyle ilişkilendirilemeyecek h&acirc;le getirilmesini ifade eder.</p>
                        <p>&ldquo;İ&ccedil;erik&rdquo; Kullanıcıların, hizmetlerin kullanımı amacıyla NEF ile paylaştığı bilgi ve verilerin t&uuml;m&uuml;n&uuml; ifade eder.</p>
                        <p>&nbsp;&ldquo;Gizli Bilgi&rdquo; Gizli Bilgi; Taraflar arasında belirlenen tarihinden itibaren y&uuml;r&uuml;rl&uuml;ğe girecek olan Lisans S&ouml;zleşmesi ile ilgili olarak Kullanıcı&rsquo;nın NEF&rsquo;e doğrudan doğruya ifşa ettiği, muhasebe bilgisi olup kurum/işletme defter i&ccedil;eriklerini ifade eder.</p>
                        <p>&ldquo;Kullanıcı&rdquo; Kullanım Koşulları&rsquo;nın giriş kısmında atfedilen anlamı ifade eder.</p>
                        <p>&ldquo;Kişisel Veri&rdquo; 6698 sayılı Kişisel Verilerin Korunma Hakkında Kanunu&rsquo;nun uygulamasına uygun olarak kimliği belirli veya belirlenebilir ger&ccedil;ek kişiye ilişkin her t&uuml;rl&uuml; bilgiyi ifade eder.</p>
                        <p>&ldquo;Kişisel Verilerin Korunması Kanunu&rdquo; Zaman zaman değiştirilen şekliyle 24/3/2016 tarihli ve 6698 sayılı Kişisel Verilerin Korunması Kanununu ifade eder.</p>
                        <p>&ldquo;NEF&rdquo; Kullanım Koşulları&rsquo;nın giriş kısmında atfedilen anlamı ifade eder.</p>
                        <p>&ldquo;Kullanım Koşulları&rdquo; işbu Kullanım Koşulları metnini ifade eder.</p>
                        <p>&ldquo;Uygulama&rdquo; NEF&rsquo;in m&uuml;lkiyetinde bulunan ve Kullanıcılar&rsquo;ın site ve diğer uygulamalar AppStore ve Google Play pazar yerlerinden erişebileceği yerlerdir.</p>
                        <p>&ldquo;fincheckup&rdquo; isimli akıllı edefter denetim y&ouml;netimi uygulamasını ve iş s&uuml;recini ve işbu yazılımı ifade eder.</p>
                        <p>&ldquo;Veri İşleyen&rdquo; Kişisel Verilerin Korunma Kanunu&rsquo;nda kendisine verilen anlamı ifade eder.</p>
                        <p>&ldquo;Veri Sorumlusu&rdquo; Kişisel Verilerin Korunması Kanunu&rsquo;nda kendisine verilen anlamı ifade eder.</p>
                        <p>Madde 4 Uygulamanın Kullanımı</p>
                        <p>Edefterin Y&uuml;klenmesi. Kullanıcıların &ccedil;eşitli formatlarda sahip oldukları edefter bilgilerini Uygulama&rsquo;ya manuel kaydetmelerini sağlamayı kabul etmektedirler. Defterin Uygulama&rsquo;ya y&uuml;klenmesi işlemi tamamıyla Kullanıcı&rsquo;nın sorumluluğundadır. NEF Kullanıcıların Uygulama&rsquo;ya y&uuml;klemediği hi&ccedil;bir defterden sorumlu olmayacaktır.</p>
                        <p>Bilgilerin Sunulması. &nbsp;Oluşturulması istenen defter denetimi ve raporlarına ait bilgiler Kullanıcı tarafından sağlanacak olan defter dok&uuml;manında yer almalıdır. Kullanıcı bilgileri NEF tarafından sağlanacak olup, sağlanan kullanıcı bilgileri ile Kullanıcılar kurumsal e-mail adreslerini ve kendilerine NEF tarafından sağlanacak şifreleri ile fincheckup uygulamasına girişi yapabilecekler.</p>
                        <p>&Ccedil;ıktı Formatı. Uygulamada alınmak istenen &ccedil;ıktı formatı CSV ve PDF olarak sağlanmaktadır. S&ouml;z konusu &ccedil;ıktı Uygulama&rsquo;nın web panelinden Kullanıcılar tarafından indirilebilecektir.</p>
                        <p>Defter İ&ccedil;eriği. Kullanıcı Uygulama&rsquo;ya y&uuml;klenecek defter i&ccedil;eriği, yasal mevzuat ile uyumu ve uygunluğu hakkında NEF&rsquo;in hi&ccedil;bir sorumluluğu olmadığını kabul ve beyan eder. Defter &uuml;zerinde usul&uuml;ne aykırı d&uuml;zenlenmiş olmaları, yanıltıcı beyan ve şerhler i&ccedil;ermeleri sebebiyle (maliye otoriteleri dahil ve bunlarla sınırlı olmamak &uuml;zere) &uuml;&ccedil;&uuml;nc&uuml; kişiler tarafından NEF&rsquo;e, NEF&rsquo;in grup şirketleri, iş ortakları, pay sahipleri, &ccedil;alışanları veya y&ouml;neticilerine karşı a&ccedil;ılabilecek her t&uuml;rl&uuml; tazminat, sorumluluk, ceza ve icra davası ve benzeri talep karşısında Kullanıcı NEF&rsquo;in uğrayacağı doğrudan ve dolaylı t&uuml;m zararları karşılayacağını kabul ve beyan eder.</p>
                        <p>Kapsam Dışı Hizmetler. Ek geliştirme (upgrade), kuruma &ouml;zel geliştirme ve tasarımlar, veri d&uuml;zeltme, operasyonel hizmetler, işbu Kullanım Koşulları h&uuml;k&uuml;mleri uyarınca NEF&rsquo;in hizmet kapsamı dışındadır ve aksi Taraflar&rsquo;ca yazılı olarak kararlaştırılmadığı s&uuml;rece Kullanıcı tarafından ger&ccedil;ekleştirilecektir. Kapsam i&ccedil;erisinde GİB uyumlu formatların yer aldığı m&uuml;şteri tarafından kabul edilmiştir.</p>
                        <p><br></p>
                        <p>Madde 5 Sınırlı Sorumluluk</p>
                        <p>Performans ve Mevcut Durum ile Kabul. NEF, Uygulama&rsquo;nın işbu Kullanım Koşulları kapsamında tanımlanan işlevleri en iyi şekilde yerine getirmesi i&ccedil;in gerekli azami &ouml;zeni g&ouml;sterecektir. NEF, Uygulama&rsquo;nın ve yardımcı yazılımlarının t&uuml;m&uuml;yle kusursuz, hatasız, m&uuml;kemmel olduğu ve kullanıcının genel ve/veya &ouml;zel ihtiya&ccedil;larını tamamen karşılayacağı şekilde bir iddia ve taahh&uuml;tte bulunmaz. NEF bu y&ouml;nde hi&ccedil;bir taahh&uuml;t veya garanti sunmamaktadır. Kullanıcı Uygulama&rsquo;nın kullanımına ilişkin risklerin kendisi tarafından &uuml;stlenildiğini beyan ve kabul eder.</p>
                        <p>Muhasebe Hizmeti Teşkil Etmeme. NEF işbu Kullanım Koşulları altında herhangi bir mali m&uuml;şavirlik, finansal danışmanlık, muhasebe veya &ouml;n muhasebe hizmeti vermemektedir. Kullanım Koşullar&rsquo;ındaki hi&ccedil;bir h&uuml;k&uuml;m NEF&rsquo;in burada sayılanlar dahilinde herhangi bir hizmet sunduğu şeklinde yorumlanamaz.</p>
                        <p>Doğrudan Zararlar ile Sınırlılık. Kullanıcı, NEF&rsquo;in bu Kullanım Koşulları konusu yazılımlar &uuml;zerinde Kullanıcı&rsquo;ya yalnızca &ldquo;Kullanım Lisansı&rdquo; verdiği Kullanıcı&rsquo;nın &uuml;retkenlik, iş gelir ve/veya kar kaybı, yazılımın yerelleştirilmesi, yazılımın ve verilerin kullanılması, yazılımın ve verilerin kullanılması gibi nedenlerle ortaya &ccedil;ıkabilecek herhangi bir kayıp veya zarar konularında NEF&rsquo;in hi&ccedil;bir sorumluluğunun olmadığını, bunları tazmin etmekle y&uuml;k&uuml;ml&uuml; olmayacağını peşinen kabul etmektedir.</p>
                        <p>Bilgi Kayıpları. NEF, donanım veya işletim sistemi arızasından, telif hakları NEF&rsquo;e ait olmayan veri tabanı, ara y&uuml;z platformları veya sair entegrasyon yazılımından, iletişim ağı (network) tasarım ve bağlantı hatalarından, internet veya elektrik bağlantısının kesilmesi, vir&uuml;s bulaşması ve benzer &ccedil;evresel fakt&ouml;rler ve kullanıcı hatalarından kaynaklanacak bilgi ve yazılım kayıplarından sorumlu olmayacaktır.</p>
                        <p>Kişisel Veri ihlallerinden sorumluluk. Telif hakları NEF&rsquo;e ait olmayan veri tabanı, ara y&uuml;z platformları veya sair entegrasyon yazılımından, iletişim ağı (network) tasarım ve bağlantı hatalarından kaynaklanacak Kişisel Veri ihlallerinden NEF sorumlu tutulamaz ve Kullanıcı, işbu madde kapsamında belirtilen Kişisel Veri ihlalleri nedeniyle NEF&rsquo;in uğradığı zararları telafi etmekle y&uuml;k&uuml;ml&uuml;d&uuml;r.</p>
                        <p>M&uuml;cbir Sebep. NEF&rsquo;e, herhangi bir m&uuml;cbir sebebin varlığı nedeniyle işbu Kullanım Koşulları&rsquo;nda belirtilen Uygulama&rsquo;nın tamamının veya bir kısmının gereği gibi &ccedil;alıştırılamaması halinde hi&ccedil;bir sorumluluk atfedilemez.</p>
                        <p>Yedeklemeler. NEF, kendisine Uygulama &uuml;zerinden tevdi edilen bilgilerin tanımlanan işlev amacı dışında yedekleneceği y&ouml;n&uuml;nde bir taahh&uuml;tte bulunmamaktadır. NEF, &ouml;zellikle Uygulama kapsamından Kullanıcı tarafından kaldırılan/silinen veya NEF&rsquo;i atfedilemeyecek başka bir nedenle ulaşılamaz veya okunamaz hale gelen defter bilgileri ve bunlara ait işlenmiş veya ham bilgiler ile ilgili hi&ccedil;bir şekilde sorumlu olmayacaktır ve bunlara ilişkin yedek kopyalar tutmak veya ibraz etmek y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmamaktadır.</p>
                        <p>Madde 6 Uygulama Telif Hakları</p>
                        <p>Uygulama&rsquo;nın M&uuml;lkiyeti. Uygulama, m&uuml;lkiyeti ve her t&uuml;rl&uuml; telif hakkı m&uuml;nhasıran NEF&rsquo;e ait olan ve 5846 sayılı Fikir ve Sanat Eserleri Kanunu&rsquo;nun korumasında olan bir bilgisayar programı, hazırlık &ccedil;alışması ve iş s&uuml;re&ccedil;lerinden oluşan bir eserdir. Aynı şekilde Uygulama&rsquo;ya bağlı olarak NEF&rsquo;in m&uuml;lkiyetinde İşbu Kullanım Koşulları&rsquo;nın uygulamaya konulması ile birlikte Kullanıcı&rsquo;ya Uygulama &uuml;zerinde herhangi bir m&uuml;lkiyet hakkı veya telif hakkı devir, temlik veya terk edilmiş olmayacaktır. Kullanıcı kendisine sunulan hizmetin yalnızca s&uuml;reli ve şarta bağlı bir kullanım lisansı olduğunu kabul ve beyan eder.</p>
                        <p>Yasal Koruma ve Yaptırımlar. Yazılım ve dok&uuml;mantasyonun telif hakları 5846 Sayılı Fikir ve Sanat Eserleri Kanunu, T&uuml;rk Ceza Kanunu, Markalar Kanunu, Sınai M&uuml;lkiyet Kanunu, T&uuml;rk Ticaret Kanunu ve muhtelif Vergi Kanunu h&uuml;k&uuml;mleri ile koruma altına alınmıştır. Kullanım lisans hakkı kapsamı dışında her t&uuml;rl&uuml; kopya &ccedil;oğaltma eylemi ve işlemleri ilgili mevzuatta &ouml;ng&ouml;r&uuml;len cezai yaptırımlara sahiptir.</p>
                        <p>Modifikasyon ve Ters M&uuml;hendislik Yasağı. Kullanıcı, Uygulama ve Uygulama&rsquo;nın uzantısı ve eklentisi olan yazılımlar ve iş s&uuml;re&ccedil;leri &uuml;zerinde herhangi bir modifikasyon, değiştirme, uyarlama yapamaz. Herhangi bir ters m&uuml;hendislik işlemi uygulayamaz ve &uuml;&ccedil;&uuml;nc&uuml; kişilere uygulatamaz.</p>
                        <p>Benzer Yazılım &Uuml;retmeme. Kullanıcı, gerek Lisans S&ouml;zleşmesi s&uuml;resince gerekse sona ermesinden sonra; Kullanıcı dışındaki &uuml;&ccedil;&uuml;nc&uuml; kişilere, Uygulama&rsquo;ya ve/veya Uygulama&rsquo;nın nihai fonksiyonuna, i&ccedil;eriğine, formatına, adına, dizaynına bir b&uuml;t&uuml;n olarak ve esaslı surette iltibasa meydan verir surette benzer veya bunlarla aynı nitelikteki Uygulama ve yazılımları ne kendi adına ne de &uuml;&ccedil;&uuml;nc&uuml; kişilerin hesabına &uuml;retmeyeceğini ve/veya &uuml;retilmesini sağlamayacağını, &uuml;&ccedil;&uuml;nc&uuml; kişiler ile bu y&ouml;nde bir s&ouml;zleşme akdetmeyeceğini ve/veya ilişki i&ccedil;inde olmayacağını beyan, kabul ve taahh&uuml;t eder.</p>
                        <p>NEF&rsquo;in Erişimine A&ccedil;ılan Yazılımlar. Kullanıcı, NEF tarafından temin edilen Uygulama yazılımlarının &uuml;zerinde &ccedil;alıştığı ve telif hakları NEF&rsquo;e ait olmayan veri tabanı ve iletişim ağı (network) yazılımlarının işbu Kullanım Koşulları&rsquo;nın s&uuml;resi boyunca ge&ccedil;erli ve yeterli kullanım lisanslarına sahip olmasını sağlamaktan sorumludur.</p>
                        <p>Madde 7 Asgari Donanım &amp; Bulut Bağlantı</p>
                        <p>Kullanıcı, kullanım lisansını aldığı Uygulama&rsquo;yı, işbu Kullanım Koşulları kapsamında kendi lokal donanımlar &uuml;zerinde kurmak, &ccedil;alıştırmak ve kullanmak istemesi durumunda belirtilen asgari teknik &ouml;zelliklere sahip bir donanım &uuml;zerinde kullanacağını ve gerekli bu donanımı kendisinin temin edeceğini, NEF&rsquo;in yazılım-donanım uyuşmazlığı ile ilgili hi&ccedil;bir maddi ve hukuki sorumluluğunun bulunmadığını, NEF&rsquo;in sorumluluk sınırının Uygulama i&ccedil;in kullanım lisansı verilmesi ile sınırlı olduğunu kabul eder. Kullanıcı, uygulamanın bulut platformunu kullanması durumunda, ilgili internet hızı, bağlantı probleminden NEF&rsquo;i sorumlu tutamaz.</p>
                        <p>NEF, Uygulama&rsquo;nın yanlış kullanımından veya hukuka aykırı işlerde veya kanuna aykırı olarak kullanılmasından dolayı ortaya &ccedil;ıkabilecek maddi, manevi, hukuki ve mali sonu&ccedil;lardan kazan&ccedil; veya kayıplardan hi&ccedil;bir bi&ccedil;imde sorumlu değildir.</p>
                        <p>Madde 8 S&uuml;re ve Fesih</p>
                        <p>NEF, Kullanıcı&rsquo;ya herhangi bir &ouml;n m&uuml;hlet sunma veya herhangi bir bildirimde bulunma zorunluluğunda olmadan istediği zaman Kullanıcı&rsquo;nın Uygulama&rsquo;ya erişimini durdurabilme ve hizmete devam etmeme hakkına sahiptir.</p>
                        <p>Madde 9 Gizlilik</p>
                        <p>Uygulama&rsquo;ya y&uuml;klenen İ&ccedil;erik &uuml;zerinde NEF&rsquo;in herhangi bir m&uuml;lkiyet hakkı yoktur. NEF, Uygulama &uuml;zerinden kendisine elektronik ortamdan iletilen verileri ve defter i&ccedil;eriklerini, işbu Kullanım Koşulları ile belirlenen ama&ccedil;lar ve kapsam dışında &uuml;&ccedil;&uuml;nc&uuml; kişilere a&ccedil;ıklamayacak ya da hi&ccedil;bir koşulda satmayacaktır.</p>
                        <p>Ancak Taraflar; NEF&rsquo;in, aşağıdaki hallerde Kullanıcı&rsquo;nın ilettiği İ&ccedil;erik&rsquo;i işleyebilecek ve &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşabileceğini kabul eder:</p>
                        <p>&nbsp;Herhangi bir mahkeme kararı veya y&uuml;r&uuml;rl&uuml;kteki d&uuml;zenlemeler uyarınca g&uuml;ndeme gelen herhangi bir yasal gereksinim durumunda;</p>
                        <p>&nbsp;Uygulama aracılığıyla sunulan hizmetler i&ccedil;in gerekli olduğu &ouml;l&ccedil;&uuml;de ya da y&uuml;r&uuml;rl&uuml;kteki veri koruma kanunlarına uymak amacıyla veya veri sahibinin izni doğrultusunda a&ccedil;ıklanması durumunda; veya</p>
                        <p>&nbsp;Anonimleştirilmiş olmak kaydıyla, pazarlama, tanıtım veya reklam ama&ccedil;lı olarak &uuml;&ccedil;&uuml;nc&uuml; kişilere yapılacak bildirim veya duyurularda,</p>
                        <p>&nbsp;NEF&rsquo;in meşru menfaatlerini korumak i&ccedil;in zorunlu olması durumunda.</p>
                        <p><br></p>
                        <p>NEF, kendisine iletilen kişisel verileri ve defter i&ccedil;eriklerini sınırsız s&uuml;reyle &ouml;zel ve gizli tutmayı, herhangi bir kısmının kamuya a&ccedil;ık hale gelmesini veya yetkisiz kullanımını ya da &uuml;&ccedil;&uuml;nc&uuml; bir kişiye ifşasını &ouml;nlemek i&ccedil;in gerekli t&uuml;m tedbirleri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir. NEF, verilen hizmetler kapsamında veri işleyen sıfatıyla hareket etmekte olan NEF Kullanıcı tarafından iletilen kişisel verileri işlerken, kişisel verilerin g&uuml;venliğini, verilerin muhafazasını sağlamak, bu verilere hukuka aykırı olarak erişilmesini engellemek ve hukuka uygun işlenmesini sağlamak i&ccedil;in gerekli teknik ve idari tedbirleri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir.</p>
                        <p>Kullanıcı&rsquo;nın NEF&rsquo;e onay vermesi halinde, &ouml;deme işlemleri, fatura kesimi ve işlenmesi, banka entegrasyonu, Kullanıcı&rsquo;nın erişimine izin verdiği &uuml;&ccedil;&uuml;nc&uuml; kişi uygulamaları ve doğrudan pazarlama gibi ama&ccedil;larla Kullanıcı&rsquo;nin verdiği onay &ccedil;er&ccedil;evesinde NEF İ&ccedil;erik işleyebilir, saklayabilir. Kullanıcı iletişim bilgileri, Kullanıcı ile temas kurmak veya Uygulama kullanıcılarının tecr&uuml;besini geliştirmek (hizmetlere ilişkin bakım ve destek, mevcut hizmetlerin geliştirilmesi, yeni hizmetler oluşturulması gibi) amacıyla kullanılabileceği gibi, &uuml;yeliklerin s&uuml;rd&uuml;r&uuml;lmesi i&ccedil;in gerekli faaliyetleri ger&ccedil;ekleştirmek amacıyla işlenebilecek, saklanabilecek ve &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarılabilecektir.</p>
                        <p>NEF; Uygulama vasıtasıyla işlenen verileri, uygulamanın beğeni, kullanım alışkanlıkları ve ihtiya&ccedil;lara g&ouml;re değerlendirilmesi, Uygulama&rsquo;nın geliştirilmesi ve sunulan hizmet kalitesinin artırılması amacıyla anonim hale getirerek kullanabilecektir. Aynı zamanda bunu donanım ve yazılım sağlayıcılar gibi diğer taraflarla da paylaşabilecektir.</p>
                        <p>Site ve Uygulama &uuml;zerinden başka site ve uygulamalara link verilmesi m&uuml;mk&uuml;n olup, NEF Site ve uygulamaların gizlilik uygulamalarına y&ouml;nelik herhangi bir sorumluluk taşımamaktadır.</p>
                        <p>NEF, işlemekle sorumlu olduğu verileri yurtdışı merkezli bulut altyapılarına (s&ouml;z konusu ağ NEF&rsquo;e ait ve yalnızca NEF tarafından erişilebilen bir sistemdir, kişisel veriler yurtdışındaki &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşılmamaktadır.) aktarma hakkına sahiptir.</p>
                        <p><br></p>
                        <p>Madde 10 Kişisel Verilerin Korunması</p>
                        <p>1. Kişisel Verilerin İşlenmesinde Uygulanacak İlkeler: NEF, Kullanıcılara verilen hizmet kapsamında Veri İşleyen sıfatıyla hareket eder. NEF, Uygulama vasıtasıyla işlenmekte olan verilerin hukuka ve d&uuml;r&uuml;stl&uuml;k kuralına uygun olarak toplanmasına, verilerin işlenmesi faaliyetinin şeffaflık ve bilgilendirme esaslarına dayanmasına &ouml;nem atfetmektedir.</p>
                        <p>a. Hukuka ve D&uuml;r&uuml;stl&uuml;k Kurallarına Uygunluk: Uygulama&rsquo;nın sunduğu hizmetlerin &uuml;retilebilmesi ve Kullanıcı tarafından talep edilen raporlamaların yapılabilmesi i&ccedil;in işlenmesi gereken kişisel verilerin KVKK mevzuatına ve hukuka uygun bir bi&ccedil;imde elde edilmesi i&ccedil;in KVKK mevzuatı kapsamında alınması gereken tedbirlerden Veri Sorumlusu sıfatıyla Kullanıcı sorumludur.</p>
                        <p>b. Şeffaflık ve Bilgilendirme: Uygulama&rsquo;nın kullanılabilmesi i&ccedil;in gerekli olan kişisel verilerin elde edilmesi aşamasında &ccedil;alışanlarını aydınlatma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; veri sorumlusu sıfatıyla Kullanıcı&rsquo;ya aittir.</p>
                        <p>2. fincheckup Uygulaması Kapsamında Kişisel Verilerin İşlenmesi: Uygulama vasıtasıyla işlenen kişisel veriler a&ccedil;ısından NEF Veri İşleyen sıfatıyla hareket etmektedir. Kişisel veriler, Veri Sorumlusu sıfatıyla Kullanıcı tarafından toplanır ve kişisel veri sahiplerinin kullanıcı bilgileri NEF&rsquo;e iletilir. Uygulama kapsamında kişisel veriler aşağıdaki şekilde işlenmektedir:</p>
                        <p>Veri Kategorisi<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Mali Veriler</p>
                        <p>A&ccedil;ıklama<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Mali Veriler: Uygulamaya y&uuml;klenen defter bilgilerinde yer aldığı &ouml;l&ccedil;&uuml;de&nbsp;</p>
                        <p>Kimden toplanır<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Kullanıcıların Uygulama&rsquo;ya y&uuml;klediği dijital dok&uuml;mandan</p>
                        <p>İ&ccedil;erik<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Defter &uuml;zerinde bulunabilecek her t&uuml;rl&uuml; finansal bilgi</p>
                        <p>Verinin işlenme amacı<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Uygulama aracılığı ile edefter &uuml;zerinde ilgili finansal uygunluk kontrol hizmetlerinden yararlanmak isteyen kurumun defter bilgileri</p>
                        <p>&nbsp;</p>
                        <p>Hizmet s&uuml;recindeki destek hizmetlerinin verilebilmesi,</p>
                        <p>&nbsp;</p>
                        <p>Uygulama tarafından &uuml;retilen defter&rsquo;e ait ilgili mevzuata uygunluk kontrollerinin yapılması, raporlandırılması ve hizmetlerinin ger&ccedil;ekleştirilmesi,</p>
                        <p>&nbsp;</p>
                        <p>Uygulamanın geliştirilmesi ve hizmetlerin iyileştirilmesi,</p>
                        <p>&nbsp;</p>
                        <p>Satış ve pazarlama faaliyetlerinin ger&ccedil;ekleştirilmesi</p>
                        <p>Verinin işlenmesinin hukuki nedeni<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Kullanıcı ve Uygulama arasında Lisans S&ouml;zleşmesi&rsquo;nin kurulması ve Kullanıcı&rsquo;ya taahh&uuml;t edilen hizmetlerin ifası amacıyla toplanmaktadır.</p>
                        <p>Veri toplama y&ouml;ntemi<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Veriler; veri sorumlusu sıfatını haiz Kullanıcı tarafından aşağıdaki y&ouml;ntemlerle toplanır;</p>
                        <p>Kullanıcı; kurum tarafından yetki ve onay verilmiş ilgili kurum defterine ait &nbsp;verilerini NEF&rsquo;e iletir,</p>
                        <p>Kişisel veriler sisteme NEF tarafından tanımlanır,</p>
                        <p>NEF tarafından kişisel verileri ile sisteme kaydedilen Kullanıcı&rsquo;nın erişim sahibi &ccedil;alışanları, kurumsal e-posta adresleri ve kendilerine NEF tarafından sağlanan şifreleri ile NEF&rsquo;e giriş yapar,</p>
                        <p>Kullanıcı, uygulama &uuml;zerinden y&uuml;kledikleri bilgilerini Uygulama&rsquo;ya kaydetmek suretiyle defter &uuml;zerindeki verilerin aktarımını sağlar.</p>
                        <p>&nbsp;</p>
                        <p>3. Kişisel Verilerin Saklanması ve İmha : NEF, Uygulama vasıtasıyla işlenen kişisel verileri iş s&uuml;re&ccedil;lerini ve hizmetlerini geliştirme ama&ccedil;lı kullanım haricinde, her bir Kullanıcı&rsquo;nın kişisel veri saklama ve imha politikasına g&ouml;re saklar, Kullanıcı&rsquo;nın talebi &uuml;zerine kişisel veriler silinir, imha edilir veya anonim hale getirilir. Kullanıcılar; Uygulama vasıtasıyla işlenen verilerin NEF tarafından, uygulamanın beğeni, kullanım alışkanlıkları ve ihtiya&ccedil;lara g&ouml;re değerlendirilmesi, uygulamanın geliştirilmesi ile hizmet kalitesinin artırılması amacıyla anonim hale getirilerek kullanılabileceği hususunda &ccedil;alışanlarını aydınlatmalı ve bu hususta a&ccedil;ık rızalarını almalıdır.</p>
                        <p>4. Kişisel Verilerin Aktarılması: NEF sunucuları T&uuml;rkiye merkezli bulut altyapılarında bulunmaktadır. S&ouml;z konusu ağ şirkete ait ve yalnızca şirket&ccedil;e erişilebilen bir sistem olup şirket temel olarak kişisel verileri yurtdışındaki &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşmamaktadır. NEF, kişisel verileri SSL sertifikalı y&uuml;ksek g&uuml;venlikli platformda şifreleyerek saklamaktadır.</p>
                        <p>5. &Ouml;zel Nitelikli Verilerin İşlenmesi: Uygulama vasıtasıyla &ouml;zel nitelikli herhangi bir kişisel veri işlenmemektedir.</p>
                        <p>6. Kişisel Verilerin G&uuml;venliğini ve Hukuka Uygun İşlenmesini Sağlamak İ&ccedil;in Alınan Tedbirler: NEF, KVKK&rsquo;nın 12. maddesine uygun olarak, Uygulama vasıtasıyla kişisel verileri hukuka uygun olarak işlemek, bu verilere hukuka aykırı olarak erişilmesini &ouml;nlemek ve verilerin muhafazasını sağlamak i&ccedil;in uygun g&uuml;venlik d&uuml;zeyini sağlamaya y&ouml;nelik gerekli teknik ve idari tedbirleri almakta, bu kapsamda gerekli denetimleri yapmaktadır. NEF tarafından Uygulama vasıtasıyla kişisel verilerin hukuka uygun işlenmesini sağlamak amacıyla alınan başlıca teknik ve idari tedbirler aşağıda sıralanmaktadır:</p>
                        <p>Kişisel Veri G&uuml;venliğine İlişkin Alınan İdari Tedbirler</p>
                        <p>Kişisel Verilerin M&uuml;mk&uuml;n Olduğunca Azaltılması.</p>
                        <p>&bull; NEF, işleme amacı kapsamı dışında kalan hi&ccedil;bir veriyi işlemez.</p>
                        <p>&bull; NEF, Uygulama vasıtasıyla işlenen kişisel verilerin imhası hususunda Kullanıcının hazırlamak ve uymakla y&uuml;k&uuml;ml&uuml; olduğu veri saklama ve imha politikasını benimser. Kişisel verilerin silinmesi, yok edilmesi anonim hale getirilmesi s&uuml;re&ccedil;lerinde bu politika ile Kullanıcı&rsquo;nın taleplerine uygun hareket eder.</p>
                        <p>&bull; Belirlenen s&uuml;reler sonunda, geliştirme ama&ccedil;lı bilgi kullanımı dışında kalan veriler hari&ccedil; t&uuml;m verileri g&uuml;venli bir şekilde imha eder.</p>
                        <p>&Ccedil;alışanların Eğitilmesi ve Farkındalık &Ccedil;alışmaları.</p>
                        <p>&bull; NEF Uygulama vasıtasıyla işlenen kişisel verilere erişimi olan ve veri işleme s&uuml;re&ccedil;lerinde yer alan t&uuml;m personelini, kişisel verilerin g&uuml;venliği, hukuka aykırı olarak a&ccedil;ıklanmaması ve paylaşılmaması gibi konular hakkında eğitimlere tabi tutar.</p>
                        <p>&bull; NEF, kişisel verilere erişimi olan t&uuml;m &ccedil;alışanlarıyla bu verilere ilişkin gizlilik taahh&uuml;tnamesi imzalamaktadır.</p>
                        <p>&bull; NEF&rsquo;in Uygulama vasıtasıyla işlenen kişisel verilere erişimi olan t&uuml;m &ccedil;alışanları koruma altına alınan kişisel verilere ilişkin s&uuml;resiz sır saklamakla y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; altındadır ve NEF kaynaklanabilecek olası bir veri ihlali durumunda NEF ile m&uuml;şterek sorumluluğu bulunmaktadır.</p>
                        <p>Bildirim ve Sır Saklama Y&uuml;k&uuml;ml&uuml;l&uuml;kleri.</p>
                        <p>&bull; NEF Uygulama vasıtasıyla işlenmek olan kişisel verilere ilişkin olarak &ouml;ğrendiği veri ihlallerini gecikmeksizin veri sorumlusu Kullanıcı&rsquo;ya bildirme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; ve işlenen kişisel verilere ilişkin olarak da s&uuml;resiz sır saklama y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; altına girmektedir.</p>
                        <p>Kişisel Veri G&uuml;venliğine İlişkin Alınan Teknik Tedbirler</p>
                        <p>Siber G&uuml;venliğin Sağlanması: NEF, veri g&uuml;venliğini ihlal edebilecek k&ouml;t&uuml; ama&ccedil;lı yazılımlardan korunmak i&ccedil;in, bilgi sistem ağını d&uuml;zenli olarak tarayan ve tehlikeleri tespit eden antivir&uuml;s, antispam gibi &uuml;r&uuml;nlerin kullanır bunların g&uuml;ncelliğinden emin olur. Verilerin muhafaza edildiği platformların g&uuml;&ccedil;l&uuml; g&uuml;venlik duvarları ile korunmasına ilişkin y&ouml;ntemleri Kullanıcılara sağlar.</p>
                        <p>Kişisel Veri İ&ccedil;eren Ortamların G&uuml;venliğinin Sağlanması: NEF kişisel veri i&ccedil;eren cihazların kaybolması veya &ccedil;alınması gibi durumlara karşı erişim kontrol yetkilendirir ve şifreleme y&ouml;ntemlerini kullanarak kişisel veri g&uuml;venliğinin sağlanmasını sağlar ve yetkisiz erişimi &ouml;nler. NEF, kişisel verileri SSL sertifikalı y&uuml;ksek g&uuml;venlikli platformda şifreleyerek saklar. Kişisel Verilerin Bulutta Depolanması. NEF bulutta depolanan kişisel verilerin neler olduğunun detaylıca bilir, yedeklenmesini ve senkronizasyonun sağlar bunu yanı sıra bulut bilişim hizmet ilişkisi sona erdiğinde; kişisel verileri kullanılır hale getirmeye yarayabilecek şifreleme anahtarlarının t&uuml;m kopyalarının da yok edildiğinden emin olur.</p>
                        <p>Madde 8. Muhtelif H&uuml;k&uuml;mler</p>
                        <p>Tebligatlar:Taraflar, işbu Kullanım Koşulları&rsquo;nda belirtilen adreslerin tebligat adresleri olduğunu, tebligat adreslerinde değişiklik olması halinde yeni adreslerini yazılı olarak karşı Taraf&rsquo;a bildirmedik&ccedil;e bu adreslere yapılacak tebligatların tebliğ edilsin ya da edilmesin ge&ccedil;erli olacağını ve yasal bir tebligatın t&uuml;m hukuki sonu&ccedil;larını doğuracağını ve birbirlerine yapılacak t&uuml;m bildirimlerin, fesih ihtarlarının noter kanalıyla olması hari&ccedil; olmak &uuml;zere, yazılı olacağını beyan ve kabul ederler.</p>
                        <p><br></p>
                        <p>Hakların Devri: Taraflar işbu Kullanım Koşulları&rsquo;ndan kaynaklanan hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerini (NEF&rsquo;in) alacak temliki hakkı saklı kalmak &uuml;zere) diğer Taraf&rsquo;ın yazılı izni olmaksızın grup şirketleri dahil &uuml;&ccedil;&uuml;nc&uuml; kişilere devir ve temlik edemez. Ş&ouml;yle ki:</p>
                        <p>(a) Kullanıcı Uygulama&rsquo;yı ancak kendi işletmesi ((grup şirketleri ve bağlı ortaklıkları dahil olmak &uuml;zere) uhdesinde kullanacağını kabul etmektedir. Kullanıcı, Uygulama&rsquo;yı herhangi bir &uuml;&ccedil;&uuml;nc&uuml; kişiye veya kuruma (Kullanıcı&rsquo;nın kendi grup şirketleri ve ilgili kişileri de dahil olmak &uuml;zere) NEF&rsquo;in yazılı izni olmadan kullandıramaz, kullanım erişimini devredemez, Uygulama&rsquo;ya kendi işletmesini doğrudan ilgilendirmeyen defter y&uuml;kleyemez ve NEF&rsquo;in bunları işlemesini bekleyemez.</p>
                        <p>(b) NEF&rsquo;in izinsiz bir kullanım ve devir tespit etmesi durumunda derhal fesih ve tazminat hakları saklıdır.</p>
                        <p>Değişiklikler: NEF işbu Kullanım Koşulları&rsquo;nda her t&uuml;rl&uuml; değişiklik ve/veya ilave yapma hakkına sahiptir.</p>
                        <p><br></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
 
}