@page "/kvkk"

@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {




}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">

</div>
<!-- Banner End -->
<!-- Services Details -->
<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">
                    <div class="m-b40">
                        <h3>Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni</h3> <br />
                        <p>Bu dok&uuml;man 6698 sayılı Kişisel Verilerin Korunması Kanunu (&ldquo;Kanun&rdquo;) madde 10 &ccedil;er&ccedil;evesinde &ldquo;Veri Sorumlusu&rdquo; olarak Nef Solution Yazilim Teknolojileri Ve Danişmanlik Hizmetleri Ticaret Ltd, Şti. &rsquo;nin (&ldquo;NEF&rdquo;), Kanun uyarınca NEF&rsquo;e sunulmuş ve/veya toplanmış olan kişisel verilerinizin (adınız, adresiniz, telefon numaranız, e-posta adresiniz gibi kimliği belirli veya belirlenebilir ger&ccedil;ek kişiye ilişkin her t&uuml;rl&uuml; bilgi) (&ldquo;Kişisel Veriler&rdquo;) işlenmesine ve bunlara dair haklarınıza dair aydınlatma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n yerine getirilmesini sağlamak amacıyla hazırlanmıştır. Kişisel Veriler&rsquo;in işlenmesi a&ccedil;ısından Kanun kapsamında veri sorumlusu, &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; adresinde yerleşik olan Nef Solution Yazilim Teknolojileri Ve Danişmanlik Hizmetleri Ticaret Ltd, Şti.&rsquo;dir. NEF tarafından bu surette Kişisel Verileriniz Kanun&rsquo;a uygun olarak işlenebilmekte ve muhafaza edilebilmektedir.&nbsp;</p>
                        <p>1. KİŞİSEL VERİLERİN İŞLENME AMA&Ccedil;LARI&nbsp;</p>
                        <p>NEF, Kişisel Verilerinizi; yasalar dahilinde mecburi/gerekli/yararlı işlemler gereğince muhafazası, NEF&rsquo;e &uuml;r&uuml;n ve/veya hizmet tedariki i&ccedil;in gereksinim duyulması, NEF m&uuml;şterilerine s&ouml;zleşmesel kapsamda hizmet vermek i&ccedil;in gereksinim duyulması, bunlar kapsamında ger&ccedil;ekleştirilecek her t&uuml;rl&uuml; iş ve işlemin sahibini ve muhatabını belirlemek &uuml;zere bilgilerini tespit i&ccedil;in kimlik, adres, vergi numarası ve diğer bilgilerini kaydetmek, k&acirc;ğıt &uuml;zerinde veya elektronik ortamda ger&ccedil;ekleştirilecek iş ve işlemlere dayanak olacak bilgi ve belgelerin d&uuml;zenlenmesi gibi ama&ccedil;larla işleyebilecektir.&nbsp;</p>
                        <p>2. KİŞİSEL VERİLERİN TOPLANMA Y&Ouml;NTEMLERİ İLE HUKUKİ SEBEPLERİ</p>
                        <p>Kişisel Veriler, NEF tarafından, NEF m&uuml;şterilerine &uuml;r&uuml;n ve/veya hizmet sunması ve/veya herhangi bir nedenle NEF ile s&ouml;zleşmeli ya da s&ouml;zleşmesiz ticari ilişki kurulması ve ifası kapsamında olmak &uuml;zere bilumum ara&ccedil; ve kanallar aracılığıyla s&ouml;zl&uuml;, yazılı veya elektronik ortamda ve yukarıda yer verilen ama&ccedil;lar doğrultusunda ve bu kapsamda NEF&rsquo;in s&ouml;zleşmeler ve kanunlardan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi hukuki sebeplerine dayanılarak toplanmaktadır. Bu hukuki sebeplerle toplanan Kişisel Veriler, NEF tarafından Kanun tarafından &ouml;ng&ouml;r&uuml;len temel ilkelere uygun olarak, Kanun&rsquo;un 5. ve 6. maddelerinde belirtilen Kişisel Veri işleme şartları ve ama&ccedil;ları kapsamında işbu metinde belirtilen ama&ccedil;larla da işlenebilmekte ve aktarılabilmektedir.</p>
                        <p>NEF, Kişisel Verileri sadece kesin, a&ccedil;ık ve yasal ama&ccedil;lar d&acirc;hilinde toplayacak, yukarıda ilgili b&ouml;l&uuml;mde a&ccedil;ıklanan Kişisel Verilerin işlenme ama&ccedil;larının gerektirdiği s&uuml;reler boyunca saklayabilecek olup Kişisel Verileri Kanun&rsquo;da ve burada belirtilen &ccedil;er&ccedil;evede toplandıkları ama&ccedil;larla bağdaşmaz bir şekilde işlemeyecek ve işlenmesini gerektiren sebeplerin ortadan kalkması h&acirc;linde, kanunen saklama mecburiyeti bulunan haller saklı olmak &uuml;zere, re&rsquo;sen veya ilgili kişinin talebi &uuml;zerine silecek veya yok edecek veya anonim hale getirecektir.&nbsp;</p>
                        <p>3. KİŞİSEL VERİLERİN KİMLERE VE HANGİ AMA&Ccedil;LA AKTARILABİLECEĞİ</p>
                        <p>NEF tarafından Kişisel Veriler, yukarıda belirtilen veri işleme ama&ccedil;larını ger&ccedil;ekleştirmek &uuml;zere, NEF&rsquo;in hukuki uyum s&uuml;reci, hukuki, mali, vergisel vb. denetimler ama&ccedil;larıyla iş ortaklarına, M&uuml;şterilerine, tedarik&ccedil;i ve &uuml;reticilerine, doğrudan ya da dolaylı olarak yurti&ccedil;i/yurtdışı iştiraklerine, NEF yetkililerine, NEF i&ccedil;i birimlere, hissedarlarına, i&ccedil; ve dış denet&ccedil;ilere ve anlaşmalı bağımsız denetim firmalarına, hukuk danışmanlarına, sair danışmanlık, destek veya hizmet aldığı veya almayı planladığı &uuml;&ccedil;&uuml;nc&uuml; kişilere, diğer konularda danışmanlık destek veya hizmet aldığı veya almayı planladığı &uuml;&ccedil;&uuml;nc&uuml; kişilere (&ccedil;eşitli &uuml;lkelerde sunucuları bulunabilecek bulut bilişim hizmeti sağlayıcıları da d&acirc;hil), kanunen yetkili kurum ve kuruluşlara ve &ouml;zel kişilere, Kanun&rsquo;un 8. ve 9. maddelerinde belirtilen Kişisel Veri işleme şartları ve ama&ccedil;ları &ccedil;er&ccedil;evesinde aktarılabilecek, yurti&ccedil;inde veya yurtdışında işlenebilecek ve NEF tarafından ayrıca s&ouml;z konusu Kişisel Veriler sair mecralar &uuml;zerinden de paylaşılabilecektir.&nbsp;</p>
                        <p>4. KİŞİSEL VERİLER&rsquo;E İLİŞKİN SAHİP OLUNAN HAKLAR&nbsp;</p>
                        <p>Kanun&rsquo;un 11. Maddesi gereği, Kişisel Veri sahipleri NEF&rsquo;e başvurarak kendileri ile ilgili;</p>
                        <p><br></p>
                        <p>&bull; Kişisel Verileri&rsquo;nin işlenip işlenmediğini &ouml;ğrenme,</p>
                        <p>&bull; Kişisel Verileri işlenmişse buna ilişkin bilgi talep etme,</p>
                        <p>&bull; Kişisel Verileri&rsquo;nin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını &ouml;ğrenme,</p>
                        <p>&bull; Yurt i&ccedil;inde veya yurt dışında Kişisel Verilerinin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</p>
                        <p>&bull; Kişisel Verileri&rsquo;nin eksik veya yanlış işlenmiş olması halinde bunların d&uuml;zetilmesini isteme,</p>
                        <p>&bull; Kanun&rsquo;un 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar &ccedil;er&ccedil;evesinde Kişisel Verileri&rsquo;nin silinmesini/yok edilmesini isteme,</p>
                        <p>&bull; (d) ve (e) bentleri uyarınca yapılan işlemlerin, Kişisel Veriler&rsquo;in aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</p>
                        <p>&bull; İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhlerine bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</p>
                        <p>&bull; Kişisel Veriler&rsquo;inin Kanun&rsquo;a aykırı olarak işlenmesi sebebiyle zarara uğramaları halinde giderilmesini talep etme haklarına sahiptirler.</p>
                        <p><br></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
 
}