@page
@model fincheckup.Pages.LoginWith2faModel
@{
}
<h1>2-Factor Login</h1>

<div style="color:red" asp-validation-summary="All"></div>

<form method="post">

    <input asp-for="RememberMe" type="hidden" />

    <input asp-for="ReturnUrl" type="hidden" />

    <table>

        <tr>

            <td>

                <label asp-for="TwoFactorCode"></label>

            </td>

            <td>

                <input asp-for="TwoFactorCode" />

            </td>

            <td>

                <span asp-validation-for="TwoFactorCode"></span>

            </td>

        </tr>

        <tr>

            <td>
            </td>

            <td>

                <input asp-for="RememberMe" />

                <label asp-for="RememberMe"></label>

            </td>

            <td>

                <span asp-validation-for="RememberMe"></span>

            </td>

        </tr>

        <tr>

            <td colspan="2" style="text-align:right">

                <input type="submit" value="login!" />

            </td>

        </tr>

    </table>

</form>
