@page

@model IndexModel
@{
    ViewData["Title"] = "contact";
    Layout = "~/Pages/Shared/_LayoutMain.cshtml";
}

@functions {
    public class IndexModel : PageModel
    {


        public void OnGet(string lng = "tr")
        {

        }
    }
}
@section Styles {

    <link href="~/assets/css/css/themify-icons.css" rel="stylesheet" />

    <link href="~/assets/css/css/style.css" rel="stylesheet" />
}
<div class="dlab-bnr-inr text-center" style="max-height:121px !important">
    <br />    <br />    <br />    <br />
</div>
<!-- Banner End -->
<!-- Services Details -->

<section>

    <div class="container">

        <div class="row d-flex">
            <div class="col-md-2 d-flex align-items-stretch">


            </div>
            <div class="col-md-8 d-flex align-items-stretch">

                <img src="~/fincheckup.png" />
            </div>
            <div class="col-md-2 d-flex align-items-stretch">


            </div>

 
        </div>
    </div>



</section>

<section class="section section faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-2 d-flex align-items-stretch">

          
            </div>
            <div class="col-md-8 d-flex align-items-stretch">

                <img src="~/cpm.png" />
            </div>
            <div class="col-md-2 d-flex align-items-stretch">

          
            </div>
        </div>
    </div>
</section>
 
<section class="section section faqs">
    <div class="container">
        <div class="row">

            <div class="col-md-2 d-flex align-items-stretch">


            </div>
            <div class="col-md-8 d-flex align-items-stretch">

                <img src="~/enkolay.png" />
            </div>
            <div class="col-md-2 d-flex align-items-stretch">


            </div>


        
        </div>
    </div>
</section>
<section class="content-inner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dlab-media m-b30 rounded-md">
                </div>
                <div class="dlab-content">

                    <div class="m-b40">
                        <h3 style="font-weight:bold"></h3>


                    </div> 
                </div>
            </div>
        </div>


    </div>
</section>



<!-- Service -->
<!-- Testimonials -->
<!-- Clients Logo -->
@section Scripts{
    <script src="~/assets/css/css/custom.js"></script>
}