@page

@using System.Threading
@using fincheckup.ApiClients.Entities
@using fincheckup.ApiClients.Models.Requests.Finance.Menu.CompanyList
@using fincheckup.ApiClients.Services.Finance

@model IndexModel
@{
    ViewData["Title"] = "Giriş Ekranı";
    Layout = "~/Pages/Shared/_LayoutFinancea.cshtml";
}

@functions {
    public class IndexModel(IFinanceMenuCompanyListApiClient apiClient) : PageModel
    {
        private readonly IFinanceMenuCompanyListApiClient _apiClient = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
        public CompanyListInitialModel InitialModel;

        // public long UserID; 
        // public int UserTypeID;
        // public HhvnUsers CurrentUser;
        // public IEnumerable<Entities.Company> mreqList; 

        public async Task OnGet(int year = 2021)
        {
            try
            {
                var response = await _apiClient.GetAsync(
                    new CompanyListOnGetRequest
                    {
                        year = year
                    }
                    , CancellationToken.None);
                
                if (response.IsSuccess)
                {
                    InitialModel = response.Data?.InitialModel;
                    if (!string.IsNullOrEmpty(response.Data.RedirecrUrl))
                        Response.Redirect(response.Data.RedirecrUrl);
                }
                else
                {
                    Console.WriteLine(response.ProblemDetails.Detail);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                throw;
            }
            // mreqList = new List<Entities.Company>();

            // UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            // CurrentUser = HhvnUsers.GetRow_User(UserID);
            // UserTypeID = CurrentUser.UserTypeID;
            // if (CurrentUser.UserTypeID==1001)
            // {
            //     mreqList = Companies.Get_All();
            // }
            // else if (CurrentUser.UserTypeID == 4 || CurrentUser.UserTypeID == 1   || CurrentUser.UserTypeID == 1005)
            // {
            //     mreqList = Companies.Getby_User(UserID);
            // } 
            // else
            // {
            //     Response.Redirect("/logout?handler=logout");
            // }

        }

        public JsonResult OnGetSalerMain(DataSourceLoadOptions options, string dt1)
        {
            //dt1 = "105";
            //var winModelTlist = Data.Get_AllbyCsvID(dt1);
            //return new JsonResult(DataSourceLoader.Load(winModelTlist, options));
            return new JsonResult("Eksik entegrasyon  finance/menu/companylist/OnGetSalerMain");
        }
  
        public JsonResult OnGetGraphComp(int ncompid)
        {
            // if (ncompid < 1)
            // {
            //     return new JsonResult("nok");
            //
            // }
            // UserID = Int64.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
            // int compstat = Companies.Get_Company(ncompid).XmlSourceID;
            //
            // if (!HhvnUsers.CheckUser(ncompid, UserID))
            // {
            //     return new JsonResult("ok");
            // }
            //
            // UserCompany.Update_UserDefault(UserID, ncompid);
            //
            // return new JsonResult("ok_" + compstat.ToString());
            return new JsonResult("Eksik entegrasyon  finance/menu/companylist/OnGetGraphComp");
        }

    }
}
@section Styles {
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.css">
    <style>
        .tdnormall {
            padding-top: 0.1rem !important;
            padding-left: 0.75rem !important;
            padding-bottom: 0.1rem !important;
            padding-right: 0.75rem !important;
        }

        #chartxt {
            max-height: 255px !important;
        }
    </style>
}
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Şirket Listesi</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href=""><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Şirket Listesi</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">

                        <div class="row">

                            @(Html.DevExtreme().DataGrid<Company>().ColumnHidingEnabled(false)
.ID("gridContainer").Paging(p => p.PageSize(10))
.Pager(p => p
.ShowPageSizeSelector(true)
.AllowedPageSizes(new[] { 10, 25, 50, 100 })
)
.ShowBorders(true).FilterRow(f => f.Visible(false)).ShowRowLines(true)
.RemoteOperations(true).ColumnAutoWidth(true)
.SearchPanel(s => s
.Visible(true)
.HighlightCaseSensitive(true)
)
.Editing(e => e.Mode(GridEditMode.Popup).UseIcons(true)
)
.Columns(columns => {

columns.AddFor(m => m.Id).Visible(false);
                                        columns.AddFor(m => m.CompanyName).Caption("Şirket").AllowHeaderFiltering(true) ;
                                        columns.AddFor(m => m.CityId).Caption("Şehir").AllowHeaderFiltering(true) ;

                                        columns.Add()
                                    .CssClass("dx-command-edit dx-command-edit-with-icons centerdiv").Caption("Bilgi")
.CellTemplate(@<text>
                                <a href="/admin/finance/menu/companyedit?id=<%= data.ID %>" class="btn btn-secondary btn-round btn-simple" title="Detail"><span class="dx-icon fa fa-info-circle"></span></a>
                   </text>);
                                        columns.Add().Caption("Seç") .CssClass("").CellTemplate(@<text>
                                <div  onclick="functionrefresh('[%= data.ID %]');return false;" class="btn btn-secondary btn-round btn-simple" aria-label="Yükle" tabindex="0" role="button"> <i class="zmdi zmdi-arrow-right"></i> </div>


                            </text>);

})
        .DataSource(Model.InitialModel.mreqList
        )
    )
                        </div>



                    </div>

                </div>

            </div>




        </div>





    </div>
</section>


@section Scripts{



    <script>

        var dt1 = "105";

        $("#frm").submit(function () {
            var vals = $(this).serialize();



            $.ajax({
                url: "/admin/PageApi/FormSubmita",
                method: "POST",
                data: vals,
                success: function (data) {
                    toastr.success('Success');
                    location.href = "/admin/pagemain";
                }
            });

            return false; // prevent from submit
        });
        function functionrefresh(data) {

            var turl = '/admin/finance/menu/companylist?handler=GraphComp&ncompid=' + data;

            $.ajax({
                type: "GET",
                url: turl,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var chk = response.split('_');
                    console.log(response);
                    if (chk[0] == "ok") {
                        if (chk[1] == "1") {
                            location.href = "/admin/finance/financeshrtview";  
                           

                        }
                        else if (chk[1] == "3") {
                            location.href = "/admin/finance/mizan/financeshrtview";
                        }
                        else {

                            location.href = "/admin/finance/mizan/financeshrtview";
                        //    location.href = "/admin/beyanname/uploadbyn";


                        }
                    }

                },
                failure: function (response) {
                    alert(response);
                }
            });


        }
    </script>
} 